body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsbold;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 30px;
    line-height: 40px;
    font-family: poppinsmedium;
}

#id{
    text-align: center;
}

span{
    color: rgb(132, 14, 201);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

#oi{
    width: 380px;
    margin: 5px;
    padding: 20px;

}
img{
    width: 150px;
    margin: 50px;

}

#peq{
    width: 200px; !important
}

section{
    border: 2px rgb(132, 14, 201);
}