:root{
    --heading-color: white;
    --main-color: color: rgb(132, 14, 201)

}

body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsbold;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

.logo{
    margin-right: 1.5rem;
    height: 120px;
    line-height: 120px;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 1px;

}

metade{
    color: rgb(132, 14, 201);

}

a:link{
    color: white;
}

a:visited{
    color: white;
    
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.7s all;
}

a:active{
    color: rgb(132, 14, 201);
}



h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 2px rgb(132, 14, 201);
}

h2{
    font-size: 30px;
    display: row;
    text-align: center;
    font-family: poppinsmedium;
}


span{
    text-shadow: 2px 1px white;
    color: rgb(132, 14, 201);
    flex-direction: row;
    text-align: center;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    text-align: center;
    
}

#oi{
    text-align: center;

}

div{
    margin: 20px;
    display: flex;
    flex-direction: row;
    
}


img{
    width: 150px;
    margin: 50px;

}

.imagens:hover{
    background-color: rgb(132, 14, 201);
    opacity: 50%;
    transition: 0.5s;
}

.imagens{
    border: solid 2px rgb(132, 14, 201);
    padding: 15px;
    
}

.integrantes{
    flex-direction: column;
    margin: 0 auto;
    padding: 1px;
}


.descricao{
    align-items: center;
}
#p{
    font-size: 15px;
    padding: auto;
    text-align: center;
}
#p1{
    font-size: 15px;
    padding: 50px;
    align-items: center;
}

.ul{
    color:white;
}

button{
    font-family: poppinsbold;
    background-color: white;
    color: rgb(132, 14, 201);
    border: solid, 4px;
    border-radius: 10px;
    margin: 200px;
    padding: 5px;
}

#point{
    display: none;
}

#point1{
    display: none;
}

#point2{
    display: none;
}

#point3{
    display: none;
}

#point4{
    display: none;
}


